body {
  font-family: 'Ubuntu', sans-serif;
}

#portfolio-list {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-around;

  @media (max-width:767px) {
    column-count: 2;
  }
  @media (min-width:768px) {
    column-count: 4;
  }
  column-count: 2;
  column-gap: 20px;

  .portfolio-entry {
    box-shadow: 0 0 5px gray;
    // width: 40%;
    text-align: center;
    background: #efefef7f;
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    page-break-inside: avoid;
    break-inside: avoid;

    img {
      width: 100%;
    }
  }

}